.jumbotron{
	background-color: gold;
	color: black;
	margin-top: 50px;
}
.btn {
	margin-top: 10px; 
	color: white;

}

.row-top{
	color: black;
	margin-bottom: 20px;
}

.footer{
	padding: 10px 10px 0 10px;
	background-color: gold;
	color: black;
	margin-bottom: 0px;
	margin-top: 10px
}

.card-header{
	background-color: gray;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
	background-color: white;
}

.btn-res{
	width: 100%;
}

.footer-icon{
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;

}

.nav-item{
	padding: 5px;
}
