$yellow: #ffd814;
$white: #f2f2f2;
$black: #0c0c0c;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $yellow;
	color: $black;
	@include margenes(50px, 10px);
}
.btn {
	color: $white;
	@include margenes(10px, 0px);
}

.row-top{
	color: $black;
	@include margenes(0px, 20px);
}

.footer{
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	color: $black;
	@include margenes(10px, 0px);
}

.card-header{
	background-color: gray;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	background-color: $white;
	@include margenes(10px, 0px);
}

.btn-res{
	width: 100%;
}

.footer-icon{
	padding-right: 10px;
}

.tab-content {
	@include margenes(10px, 0px);
}

.nav-item{
	padding: 5px;
}
