.jumbotron {
  background-color: #ffd814;
  color: #0c0c0c;
  margin-top: 50px;
  margin-bottom: 10px; }

.btn {
  color: #f2f2f2;
  margin-top: 10px;
  margin-bottom: 0px; }

.row-top {
  color: #0c0c0c;
  margin-top: 0px;
  margin-bottom: 20px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #ffd814;
  color: #0c0c0c;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-header {
  background-color: gray; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  background-color: #f2f2f2;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-res {
  width: 100%; }

.footer-icon {
  padding-right: 10px; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }

.nav-item {
  padding: 5px; }
